/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2018, 12:01:15 PM
    Author     : Marc
*/
.btn{
    margin: 5px 20px 5px 20px;
}

.card {
    margin-top: 32px;
}

.column {
    margin: auto;
}

.container {
    background-color: #fff;
}

#footer_text {
    margin: auto;
    position: absolute;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}

#header_one {
    margin-top: 8px;
    color: #fff;
}

.jumbotron {
    background-color: #117e47;
    background-size: cover;
    margin-bottom: 0px;
}

#logo {
    margin: auto;
}

#sub_header_one {
    color: #fff;
}